@media (min-width:768px){
    .top-title {
        font-size: 90px;
    }

    .art {
        width: 400px;
        height: 400px;
    }
}

@media (min-width:1230px){
    .status-contents {
        flex-direction: unset;
    }

    .data-content {
        font-size: 20px;
        margin-left: 5px;
    }

    .data-rank {
        font-size: 40px;
    }

    .top-title {
        font-size: 90px;
    }
}