@media (min-width:768px){
    .top-title {
        font-size: 90px;
    }

    .art {
        width: 400px;
        height: 400px;
    }
}

@media (min-width:1024px){
    .status-contents {
        flex-direction: unset;
        align-items: flex-end;
    }

    .data-content {
        font-size: 20px;
        margin-left: 5px;
    }

    .data-rank {
        font-size: 30px;
    }

    .top-title {
        font-size: 90px;
    }

    .status-contents {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .answer-content {
        max-width: 400px;
    }

    .data-kind {
        font-size: 15px;
    }
}

@media (min-width:1230px){
    .data-rank {
        font-size: 50px;
    }

    .data-kind {
        font-size: 24px;
    }

}
