html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#particles-js{ 
	position:fixed;
	z-index:-1;
	width: 100%;
	height: 100%;
	background-color: aliceblue;
}

#wrapper{
	position: relative;
	z-index: 1;
	width:100%;
	height: 100%;
}

p {
	font-family: 'Kaisei Decol', serif;
	max-width: 310px;
}

h2 {
	font-family: 'Kaisei Decol', serif;
	font-weight: bold;
	font-size: 26px;
	margin: 0;
	color: rgb(17, 185, 115);
}

img {
	width: 80%;
}

.data-content {
	background-color: black;
	opacity: 0.8;
	color: aliceblue;
	font-family: 'Kaisei Decol', serif;
	font-size: 40px;
	width: 90%;
	border-radius: 10px;
	margin-bottom: 20px;
	max-width: 270px;
}

table {
	width: 90%;
	background-color: black;
	opacity: 0.8;
	color: aliceblue;
	font-family: 'Kaisei Decol', serif;
	border-collapse: collapse;
	font-size: 40px;
}

a {
	display: inline-block;
	background-color: black;
	color: aliceblue;
	text-decoration: none;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Kaisei Decol', serif;
	font-size: 20px;
	margin-top: 100px;
	box-shadow: grey 0px 10px 5px;
	font-weight: bold;
}

a:active {
	box-shadow: none;
	transform: translateY(10px);
}

footer {
	height: 100px;
	margin-top: 100px;
	background-color: black;
	opacity: 0.9;
	color: aliceblue;
	text-align: center;
	font-family: 'Kaisei Decol', serif;
	font-size: 20px;
}

.contents {
	max-width: 1500px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.contents-2 {
	max-width: 2000px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.header {
	margin: 0 auto;
	text-align: center;
}

.top-title {
	font-size: 50px;
}

.one {
	margin-top: 20vh;
}

.head-title {
	background-color: black;
	color: aliceblue;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.8;
}

.section {
	height: 60px;
	background-color: black;
	margin-top: 40vh;
	opacity: 0.8;
	text-align: center;
	line-height: 60px;
}

.section-2 {
	margin-top: 40px;
} 

.section h2 {
	color: aliceblue;
}


.shape-6532{
	overflow:hidden;
	position:relative;
	height: 50px;
}

.fa-solid {
	margin-right: 10px;
}

.Cheru2 {
	width: 300px;
	height: 300px;
}

.Cheru1 {
	width: 300px;
	height: 300px;
}

.status-contents {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	align-items: center;
}

.data-kind {
	border-bottom: solid 2px white;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.data-rank {
	font-size: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.answer-content {
	max-width: 400px;
	border-radius: 10px;
	margin-right: 20px;
}

.moderator-content {
	max-width: 400px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}

.s {
	color: rgb(255, 251, 0);
	opacity: 1;
}

.e {
	color: rgba(148, 148, 148, 0.986);
	opacity: 1;
}

.a {
	color: rgb(252, 53, 86);
	opacity: 1;
}

.tag {
	color: aliceblue;
	padding: 8px;
	display: inline-block;
	width: 90%;
	line-height: 1.8;
	background: black;
	opacity: 0.8;
	border-radius: 25px 0px 0px 25px;
	text-align: left;
	max-width: 360px;
}

.tag-1 {
	font-size: 25px;
}

.tag1 {
	margin-top: 95px;
}

p {
	position: relative;
	padding: 1rem 2rem;
	border-radius: 10px;
	background: rgb(17, 185, 115);
	color: aliceblue;
	width: 70%;
	display: inline-block;
	font-weight: bold;
	box-shadow: rgb(78, 78, 78) 3px 3px;
	font-size: 20px;
	opacity: 0.9;
}

p:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	bottom: -15px;
	left: 6em;
	border-width: 15px 15px 0 15px;
	border-style: solid;
	border-color: rgb(17, 185, 115) transparent transparent transparent;
}



.sengen {
	font-size: 25px;
	color: aliceblue;
}

.sentens {
	background-color: black;
	opacity: 0.8;
	width: 90%;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	max-width: 600px;
}

.shapedividers_com-283{
	overflow:hidden;
	position:relative;
	opacity: 0.8;
	height: 100px;
}

.shapedividers_com-283::before{ 
	content:'';
	font-family:'shape divider from ShapeDividers.com';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 112px;
	background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 66"><g fill="%23000000"><circle cx="133.2" cy="37.9" r="6" transform="rotate(-23 133 38)"/><circle cx="298.1" cy="37.9" r="6" transform="rotate(-23 298 38)"/><circle cx="168.4" cy="48.4" r="7.7"/><circle cx="242.8" cy="46" r="5.3" transform="rotate(-45 243 46)"/><circle cx="89" cy="42.8" r="5.3"/><circle cx="457.2" cy="37.9" r="6" transform="rotate(-23 457 38)"/><circle cx="622.1" cy="37.9" r="6" transform="rotate(-23 622 38)"/><circle cx="492.4" cy="48.4" r="7.7"/><circle cx="566.8" cy="46" r="5.3" transform="rotate(-45 567 46)"/><circle cx="413" cy="42.8" r="5.3"/><circle cx="781.2" cy="37.9" r="6" transform="rotate(-23 781 38)"/><circle cx="946.1" cy="37.9" r="6" transform="rotate(-23 946 38)"/><circle cx="816.4" cy="48.4" r="7.7"/><circle cx="890.8" cy="46" r="5.3" transform="rotate(-45 891 46)"/><circle cx="737" cy="42.8" r="5.3"/><path d="M1111 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1270.1" cy="37.9" r="6" transform="rotate(-23 1270 38)"/><circle cx="1140.4" cy="48.4" r="7.7"/><circle cx="1214.8" cy="46" r="5.3"/><circle cx="1061" cy="42.8" r="5.3"/><path d="M1435 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1594.1" cy="37.9" r="6" transform="rotate(-23 1594 38)"/><circle cx="1464.4" cy="48.4" r="7.7"/><circle cx="1538.8" cy="46" r="5.3"/><circle cx="1385" cy="42.8" r="5.3"/><path d="M1759 38a6 6 0 11-6-6 6 6 0 016 6z"/><circle cx="1918.1" cy="37.9" r="6" transform="rotate(-23 1918 38)"/><circle cx="1788.4" cy="48.4" r="7.7"/><circle cx="1862.8" cy="46" r="5.3"/><circle cx="1709" cy="42.8" r="5.3"/><path d="M1959 14h8c0 11 17 10 33 10v-4c-7-1-14-1-14-6h14V0H0v12c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h7c0 45 67 16 107 28-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 001 3 17 17 0 0013 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-26h-1 10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c2 43 67 14 107 26-24-20-92 2-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h23a20 20 0 002 3 17 17 0 0012 10c10 2 20-3 30-5a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 14s-6 10-11 10-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25h7c0 44 67 15 107 27-24-20-92 3-92-24h8c0 13 27 8 46 11-8-7-27-3-27-11h31a20 20 0 002 4 17 17 0 0012 10c10 2 20-4 30-6a49 49 0 0116-2 24 24 0 0114 6c4 4 6 9 5 15s-6 9-11 9-10-5-10-10c-2 8 7 17 17 15 8-2 14-10 16-19 1-6 0-17-6-25l-1-1h10v2c1 27 27 26 56 24v-8c-21 0-41 0-41-14zM110 15c-14 1-35 11-35-2 12 3 30-5 35 2zm167 0c-15 1-36 11-36-2 13 3 31-5 36 2zm159 0c-14 1-35 11-35-2 12 3 30-5 35 2zm165 0c-14 1-36 11-36-2 13 3 31-5 36 2zm158 0c-15 1-36 11-36-2 12 3 30-5 36 2zm165 0c-14 1-35 11-35-2 12 3 30-5 35 2zm160 0c-14 1-35 11-35-2 12 3 30-5 35 2zm163 0c-15 1-36 11-36-2 13 3 31-5 36 2zm160 0c-15 1-36 11-36-2 12 3 30-5 36 2zm165 0c-15 1-36 11-36-2 13 3 31-5 36 2zm326 0c-14 1-35 11-35-2 12 3 30-5 35 2z"/></g></svg>'); 
}
	
@media (min-width:2100px){
	.shapedividers_com-283::before{
	background-size: 100% calc(2vw + 112px);
	}
}	 

.fadein-8 {
    opacity: 0;
    transform: translateY(200px);
    transition: all 2.5s;
} 

.fadein-9 {
    opacity: 0;
    transform: translateY(200px);
    transition: all 2.5s;
} 

.fadein-1 {
    opacity: 0;
    transform: translateY(200px);
    transition: all 2.5s;
}

.counter-sentens {
	background-color: black;
	opacity: 0.8;
	width: 90%;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	max-width: 250px;
	color: aliceblue;
	font-family: 'Kaisei Decol', serif;
	font-weight: bold;
}

.count {
	background-color: black;
	opacity: 0.8;
	color: rgb(17, 185, 115);
	font-family: 'Kaisei Decol', serif;
	font-weight: bold;
	border-radius: 10px;
	font-size: 35px;
	margin-right: 5px;
}

.swiper {
	width: 80%;
	margin-top: 70px;
	margin-bottom: 90px;
}

.art {
	width: 300px;
	height: 300px;
}

.swiper-slide {
	width: 95%;
}

.answer-area {
	display: flex;
	flex-wrap: wrap;
}

.sentens-1 {
	max-width: 80%;
	margin-bottom: 80px;
	padding: 30px;
}

.sen-1 {
	font-size: 25px;
	color: aliceblue;
}

.sen-2 {
	font-size: 20px;
	color: aliceblue;
}

.sen-3 {
	color: aliceblue;
	font-size: 27px;
}

.tag-1 {
	position: relative;
	padding: 1rem 0.5rem 1rem 3.5em;
	background: black;
	max-width: 250px;
  }
  
.tag-1 span {
	position: absolute;
	top: -10px;
	left: 20px;
	display: inline-block;
	width: 58px;
	height: 50px;
	text-align: center;
	background: rgb(17, 185, 115);
  }
  
.tag-1 span:before,
.tag-1 span:after {
	position: absolute;
	content: '';
  }
  
.tag-1 span:before {
	right: -10px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(2, 124, 73);
  }
  
.tag-1 span:after {
	top: 50%;
	left: 0;
	display: block;
	height: 50%;
	border: 29px solid rgb(17, 185, 115);
	border-bottom-width: 15px;
	border-bottom-color: transparent;
  }
  
.tag-1 span i {
	position: relative;
	z-index: 1;
	top: 27px;
	color: white;
	font-size: 35px;
  }

  .number {
	left: 6px;
  }	

  .copy-right {
	color: aliceblue;
	font-size: 14px;
	margin-top: 40px;
	display: inline-block;
  }

  .fa-twitter {
	margin-right: 10px;
  }

  .twitter {
	display: inline-block;
	background-color: black;
	opacity: 0.9;
	color: aliceblue;
	text-decoration: none;
	border-radius: none;
	padding: 0px;
	font-family: 'Kaisei Decol', serif;
	font-size: 20px;
	margin-top: 0px;
	box-shadow: none;
	font-weight: bold;
	margin-top: 8px;
  }
